<div class="approvals-container">
 
  <h2>Approval Management</h2>
 
  <table class="approvals-table">
 
    <thead>
      <tr>
        <th>Date</th>
        <th>Approval ID</th>
        <th>Decision</th>
        <th>Comments</th>
        <th>Action</th>
      </tr>
    </thead>
 
    <tbody>
 
      <tr *ngFor="let req of pendingApprovals">
 
        <td>{{ req.approvalDate | date:'medium' }}</td>
 
        <td>{{ req.approvalID }}</td>
 
        <td>{{ req.decision }}</td>
 
        <td>{{ req.comments }}</td>
 
       <td>
  <div class="action-buttons">
 
    <button
      class="action-btn approve-btn"
      *ngIf="req.decision === 'Pending'"
      (click)="handleDecision(req.approvalID, 'Approved')">
      Approve
    </button>
 
    <button
      class="action-btn reject-btn"
      *ngIf="req.decision === 'Pending'"
      (click)="handleDecision(req.approvalID, 'Rejected')">
      Reject
    </button>
 
  </div>
</td>
 
 
      </tr>
 
      <tr *ngIf="pendingApprovals.length === 0">
        <td colspan="5">
          No Pending Approvals
        </td>
      </tr>
 
    </tbody>
 
  </table>
 
</div>
 
 